<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/components/details/config %>
    </head>
<body>

    <% include partials/components/details/header %>

    <section>
        
        <% include partials/components/details/footer %>
           
    </section>
    
    <% include partials/components/common/jsdefaults %>
    
</body>
</html>