<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/components/details/config %>
</head>

<body>

    <% include partials/components/details/header %>

        <style>
            .E404 {
                padding: 200px;
            }

            .error-message {
                text-align: center;
                font-size: 50px;
                color: rgb(16, 163, 163);
            }

            @media screen and (max-width: 780px) {
                .E404 {
                    padding: 30px 5px;
                    font-size: 20px;
                }
            }
        </style>

        <section>

            <section class="E404">
                <h1 class="error-message"> Sorry the requested <%= content %> could not be found</h1>
            </section>
            <% include partials/components/details/footer %>

        </section>

        <% include partials/components/common/jsdefaults %>

</body>

</html>