
<% const {id, image, title, sbn, author, binding, Price, description} = profiles %>
<% let reducedBooks = books.slice(0, 9) %>
<% reducedBooks = shuffle(reducedBooks) %>
<% reducedBooks = reducedBooks.filter(filterOddBook) %>

<!DOCTYPE html>
<html>

<head>
    <% include './components/details/config.ejs' %>
</head>

<body>

    <% include './components/details/header.ejs' %>

    <!-- Body Details -->
    <section>
        
        <% include './components/details/description.ejs' %>

        <div class="clear-fix"></div>

        <% include './components/details/comments.ejs' %>

        <div class="clear-fix"></div>
    </section>

    <section class="recommended-section"> 
        <h1 class="details-header">Recommended For You</h1>
        
        <div class="rec-img-details">
            <ul>

            <% reducedBooks.map(book => { %>
                <li><a href='/details/?book_id=<%= book.id %>'><img src='/image/<%= book.image %>'class='rec-img'/></a></li>
            <% }) %>
            </ul>
        </div>
    </section>

    <section>
        <% include './components/details/footer.ejs' %>
       
    </section>

    <% include './components/common/jsdefaults.ejs' %>
</body>

</html>