:root {
    --orange: rgb(238, 121, 43);
    --milk: rgb(235, 232, 232);
    --ash: rgb(46, 46, 54);
    --ash-light: rgb(59, 59, 70);
    --gray: rgb(168, 167, 167);
    --cyan: rgb(37, 196, 196);
    --redish: #ee5253;
    --redish-light: #f0686a;
  }
  