<head>
    <title>Sign Up - CE Ghana</title>
  
    <% if(typeof redirect !== 'undefined') { %>
  
      <script>
        setTimeout(function () {
          window.location.replace("/");
        }, 5000);
      </script>
      <% } %>
  
  </head>
  