<div class="comments-section">
    <div class="book-info comments">
        <div class="detail-container comments-message">
            <div class="preview comments-preview">
                <div class="detail-display comments-display">
                    <h1 class="details-header comments-header">Leave a comment</h1>
                    <p class="comments-text">
                        Leave a comment on this book
                    </p>

                    <h3 class="comments-header-icons">Connect with the author on </h3>
                    <ul class="comments-icon">
                        <li>
                            <a href="#">
                                <img src="../icon/Facebook.png" alt="" id="comments-icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../icon/twitter-icon.png" alt="" id="comments-icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../icon/Pinterest.png" alt="" id="comments-icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../icon/instagram.png" alt="" id="comments-icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../icon/gmail-icon.png" alt="" id="comments-icon">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="book-details comments-details">
                <div class="comments-details">
                    <form method="GET" action="javascript::void(0)" name="commentsForm" class="comments-form">
                        <table class="comments-table">
                            <tr>
                                <td class="comment-table-header">Name</td>
                                <td class="comments-input">
                                    <input type="text" class="input-default" name="name" placeholder="Optional" />
                                </td>
                            </tr>
                            <tr>
                                <td class="comment-table-header">Comment</td>
                                <td class="comments-input">
                                    <textarea id="comment-box" type="text" class="input-default" name="comment" placeholder="Comment...."></textarea>
                                    <button type="submit" class="btn-butt rounded-button-sm" style="margin-top: 70px">Comment</button>
                                </td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="clear-fix"></div>
</div>